body {
    /* to remove whitespace around closing image */
    padding: 0;
    margin: 0;

    font-size: 20pt;
}

.read {
    margin-left: 20pt;
    margin-right: 20pt;
}

.calltoaction {
    background-color: #f0f0ff;
    padding: 1em;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 30pt; /* same as h2 */
}

h2 {
    font-size: 30pt;

    margin-top: 1em;
    margin-bottom: 0.5em;

    border-top: 20px solid #0080ff;
    border-right: 20px solid #f6f6f6;
}

div#toc-section {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}
ol#toc li {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
}
ol#toc li:before {
    content: "⛷ ";
}

img#realm-of-schreckski, img#closing {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

img#closing {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

table tfoot td {
    font-style: italic;
}
table th {
    border: 1px solid black;
    font-weight: bold;
    padding: 0.5em;
}

table td {
    border: 1px solid black;
    padding: 0.5em;
}

img.photo {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#what-to-expect-text {
    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    min-width: 200pt;
}

table#schedule-table tr.day-off td {
    background-color: silver;
}

ul li, ol li {
    padding: 0.3em;
}

ol.newslist li {
    list-style-type: none;
}

p#newsreader-subscribe {
    font-size: smaller;
}

time.newsitem-date {
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
    font-size: 14pt;
}

time.newsitem-month-01 {
    color: white;
    background-color: #38509e;
}
time.newsitem-month-02 {
    color: white;
    background-color: #2939a8;
}
time.newsitem-month-03 {
    color: white;
    background-color: #3d63b3;
}
time.newsitem-month-04 {
    color: black;
    background-color: #40a36a;
}
time.newsitem-month-05 {
    color: black;
    background-color: #6da73c;
}
time.newsitem-month-06 {
    color: black;
    background-color: #83ce44;
}
time.newsitem-month-07 {
    color: black;
    background-color: #d4ce37;
}
time.newsitem-month-08 {
    color: black;
    background-color: #f3c638;
}
time.newsitem-month-09 {
    color: black;
    background-color: #be7624;
}
time.newsitem-month-10 {
    color: white;
    background-color: #7f4b10;
}
time.newsitem-month-11 {
    color: white;
    background-color: #5c5c5c;
}
time.newsitem-month-12 {
    color: white;
    background-color: #364d73;
}
